/* globals */
* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button:hover {
  cursor: pointer;
}

/* layout */
.container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styles */
.login-btn,
.logout-btn,
.todo-toggle-btn,
.todo-delete-btn,
.todo-grip-btn,
.show-completed-toggle-btn {
  font-size: 1.25rem;
  background: transparent;
  border: none;
}

.new-todo-input {
  padding: 0.75rem 1rem;
  width: 350px;
  margin-bottom: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  font-size: 1.25rem;
}

.login-btn,
.todo-toggle-btn,
.show-completed-toggle-btn {
  color: rgb(99, 241, 158);
}

.logout-btn,
.todo-delete-btn {
  color: rgb(241, 99, 99);
}

.todo-toggle-btn:hover {
  color: rgb(15, 247, 84);
}

.todo-delete-btn:hover {
  color: rgb(247, 19, 19);
}

.todo-grip-btn {
  color: rgb(150, 150, 150);
  opacity: 0.5;
}
.todo-grip-btn:hover {
  color: rgb(175, 175, 175);
}

.app-title {
  font-size: 8vw;
}

.todo-list {
  margin-bottom: 1rem;
}

.todo-item-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  padding-bottom: 1rem;
  width: 350px;
  margin: auto;
}

.todo-item {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}

.todo-toggle-btn,
.todo-delete-btn {
  background: none;
  opacity: 0.3;
}

.todo-item-wrapper:hover .todo-toggle-btn,
.todo-item-wrapper:hover .todo-delete-btn,
.todo-item-wrapper:hover .todo-grip-btn {
  opacity: 1;
}

.todo-count {
  font-size: 1.25rem;
}

.sortable-ghost {
  opacity: 0.1;
}

@media screen and (min-width: 501px) {
  .app-title {
    font-size: 2.5rem;
  }
}
